html, body{
    height: 100%;
}

*{
    font: inherit;
}

button{
    border-radius: 0;
    outline-color: transparent;
    border-color: transparent;
    padding: 0.25em;
    padding-inline: 0.5em;
    cursor: pointer;
}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 100%;              
    background-color:#000000;
    height: 1px;
  }